.Defunt
{
    margin-top: 70px;
    width: 100%;
}

.Defunt .banner
{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    padding: 0 5%;
}

.Defunt .banner .bloc_details
{
    position: absolute;
    top: calc(200px / 3);

    border: 1px solid var(--border_grey);
    width: 350px;
    border-radius: 5px;
    overflow: hidden;

    z-index: 2;
}

.Defunt .banner .filter
{
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--blue_f_6);
    width: 100%;
    height: 100%;
}

.Defunt .banner .bloc_details .img
{
    position: relative;
    width: 100%;
    height: 200px;
}

.Defunt .banner .bloc_details .bloc_name
{
    width: calc(100%);
    color: var(--blue_f_8);
    text-align: center;
    margin-top: 20px;

    display: none;
    flex-direction: column;
    align-items: center;

    z-index: 2;
}

.Defunt .banner .bloc_details .bloc_name strong
{
    font-size: 18px;
    font-weight: normal;
}

.Defunt .banner .bloc_details .bloc_name span
{
    color: var(--orange_c);
    font-size: 14px;
    margin-top: 5px;
}


.Defunt .banner .bloc_details .describe
{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
    font-size: 14px;
    color: var(--blue_f_6);
    height: 100px;
}

.Defunt .banner .bloc_details .dates
{
    padding: 15px 20px;
    font-size: 14px;
    color: var(--blue_f_6);
}

.Defunt .banner .bloc_details .dates .date
{
    margin-top: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Defunt .banner .bloc_details .dates .date:first-child
{
    margin-top: 0;
}

.Defunt .banner .bloc_details .dates .date strong
{
    font-weight: normal;
    color: var(--blue_f_9);
}

.Defunt .banner .name
{
    position: relative;
    top: calc(200px / 3);
    left: 350px;

    width: calc(100% - 350px);
    padding-left: 30px;
    padding-top: 40px;
    color: var(--white_8);

    display: flex;
    flex-direction: column;

    z-index: 2;
}

.Defunt .banner .name strong
{
    font-size: 25px;
    font-weight: normal;
}

.Defunt .banner .name span
{
    color: var(--orange_c);
    font-size: 18px;
    margin-top: 5px;
}


.Defunt .bloc_content
{
    position: relative;
    padding: 30px 5%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Defunt .bloc_content .hommage_comment
{
    width: calc(100% - 350px - 30px);
}

.Defunt .bloc_content .hommage
{
    color: var(--blue_f_6);
    font-size: 14px;
}


.Defunt .bloc_content .comments
{
    margin-top: 30px;
}


.Defunt .bloc_content .add_comment
{
    margin-bottom: 30px;
}

.Defunt .bloc_content .add_comment h3
{
    color: var(--blue_f_9);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

.Defunt .bloc_content .add_comment .btn
{
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Defunt .bloc_content .add_comment .btn button
{
    border: 1px solid var(--blue_f_9);
    background-color: var(--blue_f_9);
    padding: 8px 10px;
    border-radius: 5px;
    color: var(--white_9);
    cursor: pointer;
  
    transition: .3s ease-in-out;

    display: flex;
    align-items: center;
}
.Defunt .bloc_content .add_comment .btn button:hover {
    border: 1px solid var(--blue_f_9);
    color: var(--orange_c);
}

.Defunt .bloc_content .add_comment .btn button .icon
{
  margin-left: 10px;
  font-size: 18px;
  transform: rotate(0deg);

  animation: loader 1s ease-in-out infinite;
}
@keyframes loader 
{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}


.Defunt .bloc_content .see_comment
{
    display: flex;
    flex-direction: column;
}

.Defunt .bloc_content .see_comment .comment
{
    border: 1px solid var(--black_015);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
}
.Defunt .bloc_content .see_comment .comment:last-child
{
    margin-bottom: 0;
}

.Defunt .bloc_content .see_comment .comment
{
    display: flex;
}

.Defunt .bloc_content .see_comment .comment .avatar
{
    position: relative;
    border: 2px solid var(--black_2);
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}

.Defunt .bloc_content .see_comment .comment .avatar .img
{
    width: 100%;
    height: 100%;
}

.Defunt .bloc_content .see_comment .comment .comment_content
{
    width: 100%;
}

.Defunt .bloc_content .see_comment .comment .comment_content .top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Defunt .bloc_content .see_comment .comment .comment_content .top .name
{
    font-size: 15px;
    font-weight: 600;
}

.Defunt .bloc_content .see_comment .comment .comment_content .top .name span
{
    margin-right: 5px;
}

.Defunt .bloc_content .see_comment .comment .comment_content .top strong
{
    font-size: 13px;
    font-weight: normal;
    color: var(--blue_f_6);
}

.Defunt .bloc_content .see_comment .comment .comment_content .txt
{
    font-size: 14px;
    color: var(--blue_f_6);
    width: 100;
    margin: 10px 0;
}

.Defunt .bloc_content .see_comment .comment .comment_content .bottom
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Defunt .bloc_content .see_comment .comment .comment_content .bottom button
{
    border: none;
    padding: 0;
    background: none;
    color: var(--error_txt);
    font-weight: bold;
    cursor: pointer;
}




.Defunt .not_comment
{
    width: 100%;
    height: 150px;
}

.errors
{
  color: var(--red_border);
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
  text-transform: lowercase;
}







/** MEDIA QUERY **/
    /**-- Ecran(<991px) --**/
@media all and (max-width: 991px) 
{

    .Defunt .banner .bloc_details
    {
        position: relative;
        top: calc(200px / 3);
    
        border: 1px solid var(--border_grey);
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    .Defunt .banner .bloc_details .bloc_name
    {
        display: flex;
    }


    .Defunt .bloc_content
    {
        padding-top: 370px;
    }

    .Defunt .bloc_content .hommage_comment
    {
        width: calc(100%);
    }

    .Defunt .banner .name
    {
        display: none;
    }
}

@media all and (max-width: 771px) 
{

}
    /**-- #FIN Ecran(<991px) --**/