.Footer
{
  background-color: var(--blue_f);
  padding: 30px 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer .logo
{
  width: 50px;
  height: 50px;
}

.Footer .links
{
  display: flex;
  align-items: center;
}

.Footer .links .link
{
  margin: 40px 30px;
  color: var(--white_6);
  font-weight: normal;
  font-size: 15px;

  transition: .3s ease-in-out;
}
.Footer .links .link:hover
{
  color: var(--white_9);
}

.Footer .bottom
{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer .bottom .socials_btn
{
  display: flex;
  align-items: center;
}

.Footer .bottom .socials_btn .social
{
  font-size: 22px;
  color: var(--white_6);
  margin-right: 30px;

  transition: .3s ease-in-out;
}
.Footer .bottom .socials_btn .social:hover
{
  color: var(--white_9);
}

.Footer .bottom .txt
{
  color: var(--white_6);
  font-size: 14px;
}

.Footer .bottom .txt .matanga_color
{
  color: var(--orange_c);
  margin-left: 5px;
}

.Footer .bottom .txt .developper
{
  color: var(--blue_c);
  margin-left: 5px;
}







/** MEDIA QUERY **/
    /**-- Ecran(<991px) --**/
@media all and (max-width: 991px) 
{

}

@media all and (max-width: 771px) 
{

}
    /**-- #FIN Ecran(<991px) --**/