:root {
	--red  : #d10f41;
	--red_c: #ffd3da;
	--red_f: #b71c1c;
	--red_b: #e53935;

	--pink:   #e91e63;
	--pink_b: #d81b60;
	--pink_c: #fce4ec;
	--pink_f: #880e4f;

	--purple:   #9c27b0;
	--purple_c: #f3e5f5;
	--purple_f: #4a148c;
	--purple_b: #8e24aa;

	--indigo:   #3f51b5;
	--indigo_c: #e8eaf6;
	--indigo_f: #1a237e;
	--indigo_b: #3949ab;

	--blue    : #2196f3;
	--blue_c  : #e3f2fd;
	--blue_f  : #5e35b1;
	--blue_b  : #1e88e5;

	--lightblue    : #03a9f4;
	--lightblue_c  : #e1f5fe;
	--lightblue_f  : #01579b;
	--lightblue_b  : #039be5;

	--cyan    : #00bcd4;
	--cyan_c  : #e0f7fa;
	--cyan_f  : #006064;
	--cyan_b  : #00acc1;

	--teal    : #009688;
	--teal_c  : #e0f2f1;
	--teal_f  : #004d40;
	--teal_b  : #00897b;

	--green    : #4caf50;
	--green_c  : #d4f3d7;
	--green_f  : #1b5e20;
	--green_b  : #43a047;

	--lightgreen    : #8bc34a;
	--lightgreen_c  : #e4ffc5;
	--lightgreen_f  : #33691e;
	--lightgreen_b  : #7cb342;

	--lime    : #cddc39;
	--lime_c  : #f9fbe7;
	--lime_f  : #827717;
	--lime_b  : #c0ca33;

	--yellow    : #ffeb3b;
	--yellow_c  : #fffde7;
	--yellow_f  : #ffd600;
	--yellow_b  : #fdd835;

	--amber    : #ffc107;
	--amber_c  : #fff8e1;
	--amber_f  : #ffab00;
	--amber_b  : #ffb300;

	--orange    : #ff9800;
	--orange_c  : #ffedd1;
	--orange_f  : rgb(209, 15, 65);
	--orange_b  : #fb8c00;

	--deeporange    : #ff5722;
	--deeporange_c  : #fbe9e7;
	--deeporange_f  : #bf360c;
	--deeporange_b  : #f4511e;

	--brown    : #795548;
	--brown_c  : #efebe9;
	--brown_f  : #3e2723;
	--brown_b  : #6d4c41;

	--grey    : #9e9e9e;
	--grey_2  : #e7e7e7;
	--grey_c  : #fafafa;
	--grey_f  : #212121;
	--grey_b  : #757575;

	--bluegrey    : #607d8b;
	--bluegrey_c  : #eceff1;
	--bluegrey_f  : #263238;
	--bluegrey_b  : #546e7a;
  --bg-color: #ffffff;
  --orange_c: rgb(192, 129, 226);
  --orange_f: rgb( 136 , 77 , 167);
  --blue_c: #3ea3d9;
  --blue_f: #000c19;
  --blue_f-menu: #021325;
  --blue_f_9: rgba(0, 12, 25, 0.9);
  --blue_f_8: rgba(0, 12, 25, 0.8);
  --blue_f_7: rgba(0, 12, 25, 0.7);
  --blue_f_6: rgba(0, 12, 25, 0.6);
  --blue_f_5: rgba(0, 12, 25, 0.5);
  --blue_f_4: rgba(0, 12, 25, 0.4);
  --blue_f_2: rgba(0, 12, 25, 0.2);
  --blue_f_1: rgba(0, 12, 25, 0.1);

  --white: #ffffff;
  --white_4: rgba(255, 255, 255, 0.4);
  --white_9: rgba(255, 255, 255, 0.9);
  --white_8: rgba(255, 255, 255, 0.8);
  --white_7: rgba(255, 255, 255, 0.7);
  --white_6: rgba(255, 255, 255, 0.6);
  --white_5: rgba(255, 255, 255, 0.5);
  --white_3: rgba(255, 255, 255, 0.3);
  --white_2: rgba(255, 255, 255, 0.2);
  --white_1: rgba(255, 255, 255, 0.1);

  --black_6: rgba(0, 0, 0, 0.6);
  --black_5: rgba(0, 0, 0, 0.5);
  --black_4: rgba(0, 0, 0, 0.4);
  --black_3: rgba(0, 0, 0, 0.3);
  --black_2: rgba(0, 0, 0, 0.2);
  --black_015: rgba(0, 0, 0, 0.15);

  --border_grey: #ccced1;

  --red_border: #e64438;
  --error_border: #e64438;
  --error_txt: #e64438;
  --red: rgba(230 68 56 / .2);
}

html,
body {
  padding: 0;
  margin: 0;
}

body
{
  box-sizing: border-box;
  color: var(--blue_f);
}

#Site
{
  overflow-x: hidden;
  width: 100%;
	min-height: 100vh;

  display: flex;
  flex-direction: column;
}

main
{
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a, input, select, textarea, button
{
  outline: none;
}

* {
  box-sizing: border-box;
}

.owl-dots {
  margin-top: 30px !important;
}

.owl-dots .owl-dot span {
  position: relative;

  border: 2px solid var(--black_2);
  background: none !important;
  width: 16px !important;
  height: 16px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease-in-out;
}
.owl-dots .owl-dot span:hover {
  border: 2px solid var(--orange_c);
}

.owl-dots .active span {
  border: 2px solid var(--orange_c) !important;

  transition: 0.3s ease-in-out !important;
}
.owl-dots .active span::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";

  background-color: var(--orange_c);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  height: 150px !important;
  padding: 10px 15px !important;
}

.error .ck.ck-editor__main > .ck-editor__editable {
  border-color: red !important;
}
.error .ck.ck-editor__main > .ck-editor__editable:focus{
  border-color: red !important;
}
.ck.ck-editor__main > .ck-editor__editable:focus {
  height: 150px !important;
  border-color: var(--orange_c) !important;
  padding: 10px 15px !important;
}

#Intersetion
{
  margin-top: 20px;
}



@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
  }
}

/**-- Ecran(<991px) --**/
@media all and (max-width: 991px) {
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    height: 150px;
  }
}

/**-- Ecran(<771px) --**/
@media all and (max-width: 771px) {
}

/**-- Ecran(<1500px) --**/
@media all and (min-width: 1500px) {
}
