:root {
  --bg-color: #ffffff;
  --orange_c: #ff8e00;
  --orange_f: #ff5003;
  --blue_c: #3ea3d9;
  --blue_f: #000c19;
  --blue_f-menu: #021325;
  --blue_f_9: rgba(0, 12, 25, 0.9);
  --blue_f_8: rgba(0, 12, 25, 0.8);
  --blue_f_7: rgba(0, 12, 25, 0.7);
  --blue_f_6: rgba(0, 12, 25, 0.6);
  --blue_f_5: rgba(0, 12, 25, 0.5);
  --blue_f_4: rgba(0, 12, 25, 0.4);
  --blue_f_2: rgba(0, 12, 25, 0.2);
  --blue_f_1: rgba(0, 12, 25, 0.1);

  --white: #ffffff;
  --white_4: rgba(255, 255, 255, 0.4);
  --white_9: rgba(255, 255, 255, 0.9);
  --white_8: rgba(255, 255, 255, 0.8);
  --white_7: rgba(255, 255, 255, 0.7);
  --white_6: rgba(255, 255, 255, 0.6);
  --white_5: rgba(255, 255, 255, 0.5);
  --white_3: rgba(255, 255, 255, 0.3);
  --white_2: rgba(255, 255, 255, 0.2);
  --white_1: rgba(255, 255, 255, 0.1);

  --black_6: rgba(0, 0, 0, 0.6);
  --black_5: rgba(0, 0, 0, 0.5);
  --black_4: rgba(0, 0, 0, 0.4);
  --black_3: rgba(0, 0, 0, 0.3);
  --black_2: rgba(0, 0, 0, 0.2);
  --black_015: rgba(0, 0, 0, 0.15);

  --border_grey: #ccced1;

  --red_border: #e64438;
  --error_border: #e64438;
  --error_txt: #e64438;
  --red: rgba(230 68 56 / .2);
}

html,
body {
  padding: 0;
  margin: 0;
}

body
{
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  color: var(--blue_f);
  
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

a, input, select, textarea, button
{
  outline: none;
}

* {
  box-sizing: border-box;
}

.owl-dots {
  margin-top: 30px !important;
}

.owl-dots .owl-dot span {
  position: relative;

  border: 2px solid var(--black_2);
  background: none !important;
  width: 16px !important;
  height: 16px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease-in-out;
}
.owl-dots .owl-dot span:hover {
  border: 2px solid var(--orange_c);
}

.owl-dots .active span {
  border: 2px solid var(--orange_c) !important;

  transition: 0.3s ease-in-out !important;
}
.owl-dots .active span::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";

  background-color: var(--orange_c);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  height: 150px !important;
  padding: 10px 15px !important;
}

.error .ck.ck-editor__main > .ck-editor__editable {
  border-color: red !important;
}
.error .ck.ck-editor__main > .ck-editor__editable:focus{
  border-color: red !important;
}
.ck.ck-editor__main > .ck-editor__editable:focus {
  height: 150px !important;
  border-color: var(--orange_c) !important;
  padding: 10px 15px !important;
}

#Intersetion
{
  margin-top: 20px;
}



@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000000;
  }
}

/**-- Ecran(<991px) --**/
@media all and (max-width: 991px) {
  .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    height: 150px;
  }
}

/**-- Ecran(<771px) --**/
@media all and (max-width: 771px) {
}

/**-- Ecran(<1500px) --**/
@media all and (min-width: 1500px) {
}
