.content_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 5% 5% 5%;
}

.content_general {
  width: 800px;
  height: 400px;
  display: flex;
  justify-content: center;
  background-color: var(--blue_f);
  border-radius: 5px;
}

.content_input {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: -4%;
}

.title {
  font-size: 25px;
  font-weight: 500;
  color: var(--orange_c);
}

.content_name {
  display: flex;
  flex-direction: column;
  margin-top: -5%;
}

.content_email {
  display: flex;
  flex-direction: column;
}

.content_pwd {
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.content_name label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_6);
  padding-bottom: 2%;
}

.content_email label {
  padding-bottom: 2%;
  font-size: 16px;
  font-weight: 500;
  color: var(--white_6);
}

.content_pwd label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_6);
  padding-bottom: 2%;
}

.content_name input {
  width: 300px;
  height: 35px;
  background-color: var(--blue_f);
  border: 2px solid var(--white_3);
  border-radius: 5px;
  color: var(--white_6);
  outline: none;
}

.content_email input {
  width: 300px;
  height: 35px;
  background-color: var(--blue_f);
  border: 2px solid var(--white_3);
  border-radius: 5px;
  color: var(--white_6);
  outline: none;
}

.content_pwd input {
  width: 300px;
  height: 35px;
  background-color: var(--blue_f);
  border: 2px solid var(--white_3);
  border-radius: 5px;
  color: var(--white_6);
  outline: none;
}

.img_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_image {
  width: 220px !important;
  height: 220px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--white_3);
  border-radius: 50%;
  margin-bottom: 3%;
}

.content_image1 {
  width: 220px !important;
  height: 220px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--blue_f);
  border-radius: 50%;
  margin-bottom: 3%;
}

.contenteI_input {
  position: absolute;
  width: 18%;
  height: 38%;
  /* border: 2px solid black; */
  border-radius: 50%;
}

.input_file {
  cursor: pointer;
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0%;
}
.user_content_icon {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-top: 10%;
  position: relative;
}

.User_icon {
  font-size: 150px;
  font-weight: 100;
  margin-right: 30%;
  color: var(--white_3);
}

.User_icon1 {
  font-size: 150px;
  font-weight: 100;
  margin-right: 10%;
}

.User_img {
  width: 200px !important;
  height: 200px !important;
  color: var(--white_3);
  border-radius: 50%;
}

.User_img1 {
  width: 200px !important;
  height: 200px !important;
  color: var(--blue_f);
  /* position: absolute; */
  border-radius: 50%;
}

.sinup {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--orange_c);
  color: var(--white);
  border: none;
  cursor: pointer;
}
