.content_inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.6% 5% 5% 5%;
}

.content_general {
  width: 80%;
  height: auto;
  background-color: var(--blue_f);
  border-radius: 5px;
}

.content_title {
  width: 100%;
  padding-bottom: 1%;
  margin-top: -1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25px;
  font-weight: 500;
  color: var(--orange_c);
}

.content_info_user {
  width: 100%;
  height: 20%;
  margin-top: -5%;
}

.content_name label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_9);
  padding-bottom: 1%;
}

.content_name input {
  background-color: var(--blue_f);
  height: 35px;
  border: 2px solid var(--white_2);
  border-radius: 5px;
  outline: none;
  color: var(--white_9);
}

.content_name {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.content_pre_post label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_9);
  padding-bottom: 2%;
}

.content_pre_post input {
  background-color: var(--blue_f);
  height: 35px;
  border: 2px solid var(--white_2);
  border-radius: 5px;
  width: 100%;
  padding-left: 2%;
  outline: none;
  color: var(--white_9);
}

.content_pre_post {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 1%;
}

.content_postnom {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.content_prenom {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.liste_sexe {
  margin-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1%;
}

.liste_sexe label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_9);
  padding-bottom: 2%;
}

.liste_sexe select {
  width: 100%;
  background-color: var(--blue_f);
  height: 35px;
  border: 2px solid var(--white_2);
  color: var(--white_9);
  border-radius: 5px;
  outline: none;
}

.content_mail input {
  background-color: var(--blue_f);
  height: 35px;
  border: 2px solid var(--white_2);
  border-radius: 5px;
  width: 100%;
  outline: none;
  color: var(--white_9);
}

.content_mail {
  padding-left: 5%;
  padding-right: 5%;
}

.content_mail label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_9);
  padding-bottom: 2%;
}

.psw label {
  font-size: 16px;
  font-weight: 500;
  color: var(--white_9);
  padding-bottom: 2%;
}

.psw {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 1%;
}

.psw input {
  background-color: var(--blue_f);
  height: 35px;
  border: 2px solid var(--white_2);
  border-radius: 5px;
  width: 100%;
  outline: none;
  color: var(--white_9);
}

.content_password {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.content_confirm {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.btn_sinup {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.btn_sinup button {
  width: 20%;
  height: 35px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background-color: var(--orange_c);
  color: var(--white);
  border-radius: 5px;
}

/** MEDIA QUERY **/
/**-- Ecran(<991px) --**/
@media all and (max-width: 991px) {
  .content_general {
    margin-top: 10%;
  }

  .content_pre_post {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content_postnom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content_prenom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .psw {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  .content_password {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .content_confirm {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .btn_sinup {
    padding-left: 5%;
    padding-right: 5%;
  }

  .btn_sinup button {
    width: 100%;
  }
}
